

#main{
    width: 65rem;
    height: 45rem;
    position: relative;
    top: 10rem;
    left: -50%;
    display: block;
    padding: 0;
    background-color: transparent !important;
    overflow-y: scroll;
    overflow-x: hidden;
}


.middle{
    padding: 2rem ;
    margin: 0 !important;
    height: 100%;
    width: 45%;
    display: block;
}
#nav-container{
    display: flex;
    justify-content: center;
    background-color: transparent !important;
}
#search-form{
    width:25rem;
    
}
#nav-button{
    float: right;
    width: 12%;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.recipe-img{
    width:100%;
    
}
.recipe-name{
    margin: 1rem 0;
}
.recipe-instructions{
    display: grid;
    width:70%;
}
.recipe-score{
    margin: 1rem 1rem;
}
.recipe-container{
    padding:0;
}