

#main{
    width: 65rem;
    height: 38rem;
    position: relative;
    top: 10rem;
    left: -50%;
    display: block;
   padding: 0;
   background-color: transparent !important;
}


.middle{
    padding: 2rem ;
    margin: 0 !important;
    height: 100%;
    width: 45%;
    display: block;
}
#nav-container{
    display: flex;
    justify-content: center;
    background-color: transparent !important;
}
#search-form{
    width:25rem;
    
}
#nav-button{
    float: right;
    width: 12%;
}
