

#main{
    margin-top: 10%;
    padding: 0;
    background-color: transparent !important;
    display: inline-block;
}
.data-loaded{
    margin-top: 0.5rem !important;
}

#nav-container{
    display: flex;
    justify-content: center;
    background-color: transparent !important;
}
#search-field{
    width:88%
}
#search-form{
    width:25rem;
}
#nav-button{
    float: right;
    width: 12%;
}

.recipe-img{
    width:100%;
    
}
.recipe-name{
    margin: 1rem 0;
    color: whitesmoke !important;
}
.recipe-instructions{
    display: grid;
    width:70%;
}
.recipe-score{
    margin: 1rem 0rem;

}
.recipe-container{
    padding:0;
    display: block;
    justify-content: start;
    text-align: left;
}

.missing{
    color: rgb(220, 100, 120);
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}